<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
   
</head>
<body>
     {{>navbar}}
    <form action="/login" method="post">
    
    <label for="email">
        Email
    </label>
    <input type="email" name="email" id="email"
    <label for="password">
        Password
    </label>
    <input type="password" name="password" id="">
    <button type="submit" name="submit">Log in</button>
    </form>
</body>
</html>